.footer_parent {
	display: block;
	position: relative;
	height: auto;
	width: calc(100% - 6vw);
	background-color: #fbfbfd;

	color: #333333;
	padding: 10px 0;
	padding-top: 40px;
	margin: 0;
	padding-left: 6vw;

	}

.footer_parent li {
	text-decoration: underline;
	list-style: none;
	line-height: 1.8em;
	font-size: 1em;
	}

.footer_parent li a {
    color: #333333;
}

.footer_parent h1 {
	margin: 0px 0px;
	font-size: 3em;
}

.footer_paragraph {
	padding: 0;
	margin: 5px 0px;
	margin-bottom: 40px;
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: normal;
	}

.email {
	font-size: 1em;
	line-height: 1em;
	font-weight: normal;
	margin-top: 40px;
}

.email a {
	text-decoration: underline;
	font-weight: bold;
}

	.copyright {
		font-size: 1em;
		line-height: 1.2em;
		opacity: 0.5;
		margin-top: 40px;
	}

	.links {
		margin-top: 20px;
	}

	.kontakt_button {
		display: block;
		font-weight: bold;
		font-size: 1em;
		margin: 8px 2px;
		text-align: center;
		padding: 18px 20px;
		border: 1px solid;
		border-color: rgba(0,0,0,0);
		border-radius: 5px;
		background-color: #2FD091; /* #6BD999 */
		color: white;
		position: relative;
		box-shadow: 5px 5px 2px rgba(0,0,0,0.0);
		transition: all 0.2s;
		/* Nachfolgende Elemente werden durch anime.js ver�ndert animiert: */
		opacity: 1;
		}

	.kontakt_button:hover {
		background-color: #2DBF86;
		color: white;
		transition: all 0.1s;
		}

	.kontakt_button:active {
		background-color: #5DD5A6;
		color: white;
		transition: all 0.1s;
		}


/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */


/* Desktop SMALL Änderungen START */
@media only screen and (min-width: 800px) {



}
