/* ID f�r Section Parent + spezifische Farbe */
#portfolio_parent {
  background-color: white;
  color: #333333;
    /* Wird weiter vererbt */
  overflow: hidden;
}

/* Haupt Container der Kategorien */
.portfolio_item_container {
    display: block;
    position: relative;
    height: auto;
    width: 100%;
}

/* Scroll Einheit der Kategorien */
/* Ersetzt durch flickity */
.carousel_portfolio {
    margin-left: 6vw;
    display: block;
    margin-bottom: 6vw;
}

/* enable Flickity by default */
.carousel_portfolio:after {
  content: 'flickity';
  display: none; /* hide :after */
}

/* Kategorie Haupt Container */
.portfolio_item {
    display: inline-block;
    position: relative;
    height: 85vw;
    width: 85vw;
    max-height: 420px;
    max-width: 360px;
    padding: 0px;
    margin-top: 40px 0px;
    margin-right: 40px;
    margin-bottom: 6vw;
    transition: all 0.5s;
    box-shadow: 0px 0px 15px rgba(175, 188, 212, 0.4);
    border-radius: 10px;
    overflow: hidden;
}

.portfolio_item:hover {
box-shadow: 0px 0px 20px rgba(175, 188, 212, 0.8);
}

#last_portfolio {
    margin-right: 6vw;
}

.portfolio_item_text_section {
    display: block;
    position: relative;
    height: auto;
    padding: 20px 0;
    background-color: white;
    z-index: 200;

}

.portfolio_item_title {
    display: block;
    color: #333333;
    font-size: 1.0em;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

.portfolio_item_thumbnail {
    display: block;
    height: auto%;
    width: 100%;
    position: relative;
    margin: 0;
    transition: all 0.4s ease-out;

}

.portfolio_item:hover .portfolio_item_thumbnail {
    transform: scale(1.2);
    transition: all 0.4s ease-out;

}

/* Mobile Version ENDE */


/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */

/* Desktop Version ALLE START */

@media only screen and (min-width: 600px) {

  /* Kategorie Haupt Container */
  .portfolio_item {
      max-height: 380px;
      max-width: 320px;
      margin: 30px;
  }

  /* Scroll Einheit der Kategorien */
  /* Ersetzt durch flickity */
  .carousel_portfolio {
      margin-left: 0vw;
      margin-bottom: 0vw;
  }

    .portfolio_item_title {
        font-size: 1.2em;
    }

    /* disable Flickity for large devices */
    .carousel_portfolio:after {
      content: '';
    }

}

@media only screen and (min-width: 1920px) {

  /* Kategorie Haupt Container */
  .portfolio_item {
      max-height: 420px;
      max-width: 360px;
      margin: 40px;
  }

}

/* Desktop Version ALLE ENDE */
