/* ID für Section Parent + spezifische Farbe */
#kontakt_parent {
		background-color: white;
    color: #333333;
    /* Wird weiter vererbt */
}

.social_media {
    position: relative;
    display: block;
    height: auto;
    width: 90vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.social_media_icon {
    position: relative;
    display: inline-block;
    height: auto;
    width: 22px;
    margin-right: 3vw;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0);
}

.social_media_icon:hover,
.social_media_icon:active {
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
    border-color: white;
    width: 26px;
    padding: 8px;
}


/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */


/* Desktop SMALL Änderungen START */
@media only screen and (min-width: 600px) {

    .social_media {
        margin-top: 20px;
    }

    .social_media_icon {
        margin-right: 30px;
        width: 28px;
    }

    .social_media_icon:hover,
    .social_media_icon:active {
        width: 32px;
    }


}
